<div class="container-custom">
  <section>
    <h2>Menús Principales</h2>
    <div class="container mt-4 mb-5">
      <div class="row">
        <div class="col-md-6 col-lg-4 my-4" *ngFor="let menu of menus">
          <p-card [header]="menu.nombre" class="custom-card">
            <ng-template pTemplate="header">
              <img alt="Card" [src]="menu.urlimg" class="menus-image img-fluid">
            </ng-template>
            <ng-template pTemplate="content">
              <div class="description">{{ menu.descripcion }}</div>
            </ng-template>
            <ng-template pTemplate="footer">
              <div class="card">
                <a href="editmenu-component">
                  <span class="material-icons"></span>
                  <p>Modificar</p>
                </a>
              </div>            
            </ng-template>
          </p-card>
        </div>
      </div>
    </div>
  </section>
</div>