<form (ngSubmit)="agregarMenu()" [formGroup]="formulario" class="menu-form">
  <div class="form-group">
    <label for="nombre">Nombre:</label>
    <input type="text" id="nombre" formControlName="nombre" required>
  </div>

  <div class="form-group">
    <label for="precio">Precio:</label>
    <input type="number" id="precio" formControlName="precio" required>
  </div>

  <div class="form-group">
    <label for="descripcion">Descripción:</label>
    <textarea id="descripcion" formControlName="descripcion" required></textarea>
  </div>

  <div class="form-group">
    <label for="imagen">Imagen:</label>
    <input type="file" id="imagen" (change)="onFileSelected($event)" accept="image/*" required>
    <img [src]="formulario.get('imagen')?.value" alt="Imagen seleccionada" *ngIf="formulario.get('imagen')?.value">
  </div>

  <button type="submit" class="submit-button">Agregar Menú</button>
</form>
