
  .spacer {
    flex: 1;
  }
  
  .toolbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    background-color: #2861ac;
  }
  .toolbar button {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #000000;
    background-color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 30px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .toolbar button:hover {
    background-color: #081b6d;
    color: wheat;
  }
  
  .toolbar #inicio-button {
    margin-right: 10px;
  }
  #id-contacto {
    font-family: Arial, sans-serif;
    font-size: 14px;
    color: #ffffff;
    padding: 10px 20px;
    cursor: pointer;
    height: 40px;
    margin: 0 8px;

  }
  

  .toolbar img {
    max-width: 70px;
    max-height: 700px;
    margin-right: 20px;
  }
  
  .toolbar img {
    margin: 0 16px;
  }
  
  .toolbar #ig-logo {
    height: 40px;
    margin: 0 8px;
  }
  
  .toolbar #wsp-logo {
    height: 40px;
    margin: 0 16px;
  }
  
  .toolbar #ig-logo:hover,
  .toolbar #wsp-logo:hover {
    opacity: 0.8;
  }

  .spacer {
    flex: 1;
  }
  
  .footbar {
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #286e96;
  }
  
  .footbar #texto1 {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .footbar #direcciontext {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    margin-right: 10px;
  }
  
  .footbar #id-contacto {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 14px;
    padding: 10px 20px;
    cursor: pointer;
    height: 40px;
    margin: 0 8px;
  }
  
  .footbar img {
    max-width: 70px;
    max-height: 700px;
    margin-right: 20px;
  }
  
  .footbar img {
    margin: 0 16px;
  }
  
  .footbar #ig-logo {
    height: 40px;
    margin: 0 8px;
  }
  
  .footbar #wsp-logo {
    height: 40px;
    margin: 0 16px;
  }
  
  .footbar #ig-logo:hover,
  .footbar #wsp-logo:hover {
    opacity: 0.8;
  }
  