<style>
  body {
      background-image: url('assets/imagenes/wallpaper.jpg');
      background-size: cover;
      background-position: center;
      /* Otros estilos opcionales */
  }
</style>
<body>
  <div class="content">
    <h1>VALPO TOURS </h1>


    

    <div class="card-container">
      <div class="card">
        <a href="add-component">
          <span class="material-icons"></span>
          <p>Agregar Lugar</p>
        </a>
      </div>
      <div class="card">
        <a href="categoria-component">
          <span class="material-icons"></span>
          <p>Agregar Categoria</p>
        </a>
      </div>
      <!-- Agregar más tarjetas aquí -->
    </div>


    <div class="card-container">
      <div class="card">
        <a href="editmenu-component">
          <span class="material-icons"></span>
          <p>Lugares</p>
        </a>
      </div>
      <div class="card">
        <a href="lista-comentario-component">
          <span class="material-icons"></span>
          <p>Listar comentarios</p>
        </a>
      </div>
      <!-- Agregar más tarjetas aquí -->
    </div>
    <div class="card-container">
      <div class="card">
        <a href="lista-categoria-component">
          <span class="material-icons"></span>
          <p>Listar categorias</p>
        </a>
      </div>
      <div class="card">
        <a href="#">
          <span class="material-icons"></span>
          <p>PUCV</p>
        </a>
      </div>
      <!-- Agregar más tarjetas aquí -->
    </div>
    
  </div>
</body>